#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Git commit stashed changes and type a message
function gc { git commit -m "$@"; }

# Git push changes to origin branch
function gpo { git push origin "$@"; }